@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/*CUSTOM PROPERTIES*/
:root {
  /*Site Colors*/
  --blue: #40bfff;
  --light-red: #ff4858;
  --primary-red: #fb7181;
  --light-blue: #bcddfe;
  --dark-grey: #373737;
  --light-black: #262626;
  --main-color: #22262a;
  --title-grey: #223263;
  --light-grey: #9098b1;
  /*Site Fonts*/
  --Poppins: "Poppins", "Arial", sans-serif;
  --Nova: "Proxima Nova Rg", "Arial", sans-serif;
  --Raleway: "Raleway", "Arial", sans-serif;
}

/*WEB FONTS RELATED*/

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/poppins-v19-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/poppins-v19-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("./fonts/poppins-v19-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/poppins-v19-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("./fonts/poppins-v19-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/poppins-v19-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/poppins-v19-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/poppins-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* NOVA */
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("./fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("./fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* RALEWAY */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/raleway-v26-latin-regular.woff2") format("woff2"),
    url("./fonts/raleway-v26-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/raleway-v26-latin-700.woff2") format("woff2"),
    url("./fonts/raleway-v26-latin-700.woff") format("woff");
}
/*GLOBAL STYLES*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--Poppins);
  font-size: 18px;
  line-height: 22px;
  background-color: #fff;
  color: var(--main-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
img {
  display: block;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1300px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.heading {
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
}

.cost {
  font-weight: bold;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: var(--blue);
}
.old-cost {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-decoration-line: line-through;
  color: var(--light-grey);
  margin: 0 2px;
}
.sale-cost {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: var(--primary-red);
  margin: 0 2px;
}
.card__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: var(--title-grey);
  margin: 0;
}
.main__article .article__info {
  width: 390px !important;
}
.main__article h2 {
  font-weight: 500 !important;
  font-size: 30px !important;
  line-height: 45px !important;
}
.main__article .article__container {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
  padding-left: 100px;
}
.main__article .article__img {
  width: 397px;
  top: -20px !important;
  right: 103px !important;
}
.main__article a {
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 18px !important;
}
.main__article a::after {
  width: 30px !important;
}
.main__article a:hover::after {
  width: 60px !important;
}
